


@layer page.awards {
    /**
     * Display awards as a 2 columns grid
    */
    .page-template-template-grid-awards .award-container {
        display: var(--karma-award-container-display);
        grid-template-columns: var(--karma-award-container-dtc);
    }
    .page-template-template-grid-awards .award-container {
        gap: var(--karma-award-container-gap);

 
        @container (min-width: 1141px) {
            --karma-award-container-gap: 100px;
        }
     
        @container (min-width: 961px) and (max-width: 1140px) {
            --karma-award-container-gap: 60px;
        }
     
        @container (min-width: 721px) and (max-width: 960px) {
            --karma-award-container-gap: 40px;
        }
     
        @container (min-width: 541px) and (max-width: 720px) {
            --karma-award-container-gap: 30px;
        }
    
        /* @container (max-width: 540px) {
        }  */
    }
}