/**
 * Grid layout formed by the header, the main content and the sidebar
 * Note: Some classes like "sidebar-is-open" are used in "karma-responsive-sidebar.js" to toggle the sidebar visibility
 * -----------------
*/
:root {
    // (Mobile fist)
    // - sidebar widths:
    --karma-sidebar-width-collapsed: 45px;
    --karma-sidebar-width-expanded-small: 250px;
    --karma-sidebar-width-expanded-medium: 300px;
    --karma-sidebar-width-expanded-large: 415px;

    --karma-global-wrapper-display: grid;
    --karma-global-wrapper-gtc: 1fr var(--karma-sidebar-width-collapsed);    // By default: Shrinks sidebar down (the main content expands) ...              

    --karma-hero-grid-column: 1 / span 2;                       // The hero occupies all columns (1st row only)
    --karma-global-wrapper-row-gap: 20px;                       // Rows gap

    --karma-global-wrapper-btn-sidebar-trigger-display: block;      // Make trigger button visible
    --karma-global-wrapper-sidebar-content-wrapper-display: none;   // Hide the sidebar content
}



// Apply only the grid on the following pages:
.blog, 
.single, 
.archive, // Including sub pages like category, author, ...
.page-template-template-service,
.page-template-template-contact {

    /**
     * Parameters setup (mobile first)
     * ------------
    */
    .karma-global-container { 
        // Setup grid
        display: var(--karma-global-wrapper-display);
        grid-template-columns: var(--karma-global-wrapper-gtc);
        grid-column-gap: var(--karma-global-wrapper-row-gap);

        // Set up the sidebar expansion parameters
        &.sidebar-is-open {
            // Expands sidebar left (the main content shrinks) ...
            @media (max-width: (992px - 1)) {
                --karma-global-wrapper-gtc: 1fr var(--karma-sidebar-width-expanded-small);
                --karma-global-wrapper-sidebar-content-wrapper-display: block;
            }
        }

        // Set up the hero's column occupancy
        .hero {
            grid-column: var(--karma-hero-grid-column);
        }

        .sidebar {
            .content-wrapper {
                display: var(--karma-global-wrapper-sidebar-content-wrapper-display);
            }
            // Expand sidebar left
            .btn-sidebar-trigger {
                display: var(--karma-global-wrapper-btn-sidebar-trigger-display);
            }
        }
        
    }


    /**
     * Responsiveness
     * ------------
    */
    .karma-global-container {
        @media (min-width: 1400px) {
            --karma-global-wrapper-btn-sidebar-trigger-display: none;
            // Expands sidebar left (the main content shrinks) ...
            --karma-global-wrapper-gtc: 1fr var(--karma-sidebar-width-expanded-large);
            --karma-global-wrapper-row-gap: 170px;
            --karma-global-wrapper-sidebar-content-wrapper-display: block;  // Show the sidebar content
        }

        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            --karma-global-wrapper-btn-sidebar-trigger-display: none; // Sidebar cannot be collapsed 
            --karma-global-wrapper-gtc: 1fr var(--karma-sidebar-width-expanded-medium); // Sidebar expanded and adjust main content's width
            --karma-global-wrapper-row-gap: 90px;   // Row columns gap
            --karma-global-wrapper-sidebar-content-wrapper-display: block;  // Show the sidebar content
        }

        // From this breakpoint up, sidebar cannot be collapsed 
        // Keep sidebar expanded and adjust main content's width
        // Increase gap between row columns 
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            --karma-global-wrapper-btn-sidebar-trigger-display: none; // Sidebar cannot be collapsed 
            --karma-global-wrapper-gtc: 1fr var(--karma-sidebar-width-expanded-medium); // Sidebar expanded and adjust main content's width
            --karma-global-wrapper-row-gap: 50px;   // Row columns gap
            --karma-global-wrapper-sidebar-content-wrapper-display: block;  // Show the sidebar content
        }

        // Increase gap between row columns 
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            --karma-global-wrapper-row-gap: 50px;
        }

        // Increase gap between row columns 
        @media (min-width: 576px) and (max-width: (768px - 1)) {
            --karma-global-wrapper-row-gap: 40px;
        }
    }

} // Select pages




.main-content-wrapper {
    overflow: hidden;
}
// .sidebar {
// }
// .content-wrapper {
// }




