
:root {
    --karma-page-home-awsct-display: block;
    --karma-page-home-awsct-gtc: minmax(0, 530px) 1fr;
    --karma-page-home-awsct-gap: 40px;
    --karma-page-home-awsct-intro-toppad: 0px;
    --karma-page-home-awsct-intro-botpad: 40px;
    --karma-page-home-awsct-intro-max-w: 530px;
    --karma-page-home-awcnt-padd: 60px;
}


@layer home.awards {
    .home .section-awards {
        display: var(--karma-page-home-awsct-display);
        grid-template-columns: var(--karma-page-home-awsct-gtc);
        gap: var(--karma-page-home-awsct-gap);
    }
    .home .section-awards article {
        max-width: var(--karma-page-home-awsct-intro-max-w);
        padding-top: var(--karma-page-home-awsct-intro-toppad);
        padding-bottom: var(--karma-page-home-awsct-intro-botpad);
    }

    // Hide all awards, except the first one ...
    .home .awards-container .award:not(:first-child) {
        display: none;
    }

    // Decorate the container to match home page design ...
    .home .awards-container {
        position: relative;
    }
}


/**
 * Layout structure
*/
@layer home.awards {
    .home .section-awards {
        @container (min-width: 1141px) {
            --karma-page-home-awsct-display: grid;
            --karma-page-home-awsct-intro-toppad: 80px;
            --karma-page-home-awsct-gap: 150px;
            --karma-page-home-awcnt-padd: 90px;
        }
     
        @container (min-width: 961px) and (max-width: 1140px) {
            --karma-page-home-awsct-display: grid;
            --karma-page-home-awsct-intro-toppad: 80px;
            --karma-page-home-awcnt-padd: 80px;
        }
     
        @container (min-width: 721px) and (max-width: 960px) {
            --karma-page-home-awsct-display: grid;
            --karma-page-home-awsct-intro-toppad: 50px;
        }
     
        @container (min-width: 541px) and (max-width: 720px) {
            --karma-page-home-awcnt-padd: 80px;
        }
    
        /* @container (max-width: 540px) {} */
    }
}