
/**
 * Applies the necessary decorations with precision:
 * (background transparency, border colors
 * ---------
*/

@layer decorators.backgrounds {
    .transparent {
        background-color: var(--karma-clr-transparent);
    }
    .transparent-complementary {
        background-color: var(--karma-clr-complementary-800);
    }
    .no-bg {
        background-color: transparent;
    }
}

@layer decorators.borders {
    .bdr-solid {
        border: 1px solid var(--karma-clr-primary-neutral-800);
    }
    .bdr-no-radius {
        border-radius: 0;
    }
    .bdr-no-bottom {
        border-bottom: 0px;
    }
    .bdr-none {
        border: 0px;
    }
}

@layer decorators.dropdown {
    .dpw1 {
        box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.35);
    }
}
