
/**
    * GLOBAL CUSTOM PROPPERTIES (VARIABLES)
    * ------------
*/


/* Light theme */
@media (prefers-color-scheme: light) {
    :root { /* Colours */
        --karma-clr-body-background: #fff;
        --karma-clr-body-background-darken: #e9e9e9;
        --karma-clr-bg-neutral-100: #f6f6f6;
        --karma-clr-txt-neutral-800: #1E1E1E;
        --karma-clr-txt-neutral-200: #27241A;
        --karma-clr-txt-neutral-400: #696969;
        --karma-clr-footer-background: #0F0F0E;
        --karma-clr-primary-100-background: #1A1812;
        --karma-clr-primary-100: #F0EDE1;
        --karma-clr-primary-200: #E0D1A0;
        --karma-clr-primary: #FFCD3A;
        --karma-clr-primary-darken: #d5aa2a;
        --karma-clr-primary-neutral-900: #977003;
        --karma-clr-primary-txt: #1E1E1E;
        --karma-clr-primary-neutral-400: #6a685f;
        --karma-clr-primary-neutral-500: #7C796E;
        --karma-clr-primary-neutral-600: #939393;
        --karma-clr-primary-neutral-800: #B8B8B8;
        --karma-clr-accent: #B78B00;
        --karma-clr-complementary-800: #DAE0F2;
        --karma-clr-transparent: rgba(0, 0, 0, 0.1);

        // Footer
        --karma-clr-footer-links: #939393; // #F0EDE1;
        --karma-clr-footer-headings: #977003;
    }

    :root { /* Hero images */
        --karma-hero-img-light-display: block;
        --karma-hero-img-dark-display: none;
    }

    :root { /* Navbar */
        --karma-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root { /* Colours */
        --karma-clr-body-background: #1A1812;
        --karma-clr-body-background-darken: #29261e;
        --karma-clr-bg-neutral-100: #292828;
        --karma-clr-txt-neutral-800: #E2E2E2;
        --karma-clr-txt-neutral-200: #27241A;
        --karma-clr-txt-neutral-400: #959595;
        --karma-clr-footer-background: #24221C;
        --karma-clr-primary-100-background: #1A1812;
        --karma-clr-primary-100: #242321;
        --karma-clr-primary-200: #E0D1A0;
        --karma-clr-primary: #FFCD3A;
        --karma-clr-primary-darken: #d5aa2a;
        --karma-clr-primary-neutral-900: #977003;
        --karma-clr-primary-txt: #1E1E1E;
        --karma-clr-primary-neutral-400: #6a685f;
        --karma-clr-primary-neutral-500: #7C796E;
        --karma-clr-primary-neutral-600: #939393;
        --karma-clr-primary-neutral-800: #B8B8B8;
        --karma-clr-accent: #B78B00;
        --karma-clr-complementary-800: #43495A;
        --karma-clr-transparent: rgba(255, 255, 255, 0.1);

        // Footer
        --karma-clr-footer-links: #F0EDE1;
        --karma-clr-footer-headings: #977003;
    }

    :root { /* Hero images */
        --karma-hero-img-light-display: none;
        --karma-hero-img-dark-display: block;
    }

    :root { /* Navbar */
        --karma-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}




:root {

    --karma-headings-underlined-line-width: 125px;
    --karma-article-sep-width: 50%;
    --karma-article-sep-max-width: 300px;

    /* Font faces */
    --karma-font-family-headings: 'Oswald', sans-serif;
    --karma-font-family-body: 'Merriweather', serif;
}

