
@layer base.decorations.transparent {
    .transparent {
        background-color: var(--karma-clr-transparent);
    }
    .transparent-complementary {
        background-color: var(--karma-clr-complementary-800);
    }
}

@layer base.decorations.borders {
    .bdr-solid {
        border: 1px solid var(--karma-clr-primary-neutral-800);
    }
    .bdr-no-radius {
        border-radius: 0;
    }
}



@layer base.decorations.cards {
    .card-primary {
        background-color: var(--karma-clr-highlight1);
    }
    .card-neutral {
        background-color: var(--karma-clr-transparent);
    }
}
