/**
 * Set of components used in the blog
 * -----------
*/

.blog-footer,
.entry-footer {
    position: relative;
    padding-top: 30px; 
    
    &:after {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        width: 100px;
        background-color: green;
        height: 1px;
    }
}