:root {

    --karma-body-padding-top: 70px;
    --karma-header-fixed-container-top: 10px;

    --karma-header-wrapper-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    --karma-header-wrapper-padding-left: 10px;
    --karma-header-wrapper-padding-right: 10px;

    --karma-navbar--h1-bot-mar: 0;
    --karma-navbar--logo-max-width: 81px;
    --karma-navbar--toggler-bdr-radius: 0px;
    --karma-navbar-font-size: 1.1rem;
    --karma-navbar-letter-spacing: 0.2ch;

    --karma-navbar-nav-display: block;
    --karma-navbar-nav-gap: 20px;

    --karma-navbar-padding: 4px 20px;

    --karma-dropdown-item-padding-x: 30px;
    --karma-dropdown-item-padding-y: 15px;
}


@layer header {
    body {
        padding-top: var(--karma-body-padding-top);
    }
}

@layer header {
    // Push the fixed wrapper down
    .container.fixed-top {
        top: var(--karma-header-fixed-container-top);
    }

    .main-header-wrapper {
        background-color: var(--karma-clr-body-background);
        box-shadow: var(--karma-header-wrapper-box-shadow);
        padding-left: var(--karma-header-wrapper-padding-left);
        padding-right: var(--karma-header-wrapper-padding-right);
    }
    .main-header {
        .logo {
            max-width: var(--karma-navbar--logo-max-width);
        }

        .navbar-nav {
            margin-left: auto;
            display: var(--karma-navbar-nav-display);
            gap: var(--karma-navbar-nav-gap);
            padding: var(--karma-navbar-padding);
            background-color: var(--karma-clr-primary-100);
        }

        .navbar {
            text-transform: uppercase;
            letter-spacing: var(--karma-navbar-letter-spacing);
            font-size: var(--karma-navbar-font-size); 

            .dropdown-menu {
                border-width: 0;
                border-radius: 0;
                background-color: var(--karma-clr-primary-200);
            }

            // Overriding bootstrap dropdown toggle arrow
            .dropdown-toggle::after {
                display: inline-block;
                margin-left: 0.255em;
                content: "";
                vertical-align: 0;                    // cancelling bootstrap
                border-top: 0 solid;                    // cancelling bootstrap
                border-right: 0 solid rgba(0,0,0,0);    // cancelling bootstrap
                border-bottom: 0;                           // cancelling bootstrap
                border-left: 0 solid rgba(0,0,0,0);     // cancelling bootstrap
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cpath d='M11 14.0936L5.5 8.59357L6.48542 7.60815L11 12.1457L15.5146 7.63107L16.5 8.61649L11 14.0936Z' fill='black'/%3E%3C/svg%3E");
                width: 22px;
                height: 22px;
                margin-top: 0; // cancelling bootstrap
                position: relative;
                top: 4px;
            }

            a.nav-link,
            a.dropdown-item {
                color: var(--karma-clr-txt-neutral-200);
            }
            .dropdown-menu {
                padding: 0;
            }
            a.dropdown-item {
                position: relative;
                padding: var(--karma-dropdown-item-padding-y) var(--karma-dropdown-item-padding-x);

                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: var(--karma-clr-primary-neutral-900);
                }

                &:active { // When link is pressed
                    color: var(--karma-clr-body-background);
                    background-color: var(--karma-clr-primary-neutral-900);
                }
            }
            .current-menu-item.page_item {
                a {
                    color: var(--karma-clr-primary-neutral-900);
                    text-decoration: underline;
                }
            }

            .navbar-toggler {
                border-radius: var(--karma-navbar--toggler-bdr-radius);
                // border-color: var(--karma-clr-txt-neutral-800);
            }
            .navbar-toggler-icon{
                background-image: var(--karma-navbar-toggler-icon-bg);
            }
        }
    }
}



// Responsiveness ...
@layer header {
    body {
        @media (min-width: 1200px) {
            --karma-body-padding-top: 120px;
        }
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            --karma-body-padding-top: 100px;
        }
    }
}

@layer header {
    // The more the viewport spreads, Push the fixed wrapper down
    .container.fixed-top {
        @media (min-width: 1200px) {
            --karma-header-fixed-container-top: 30px;
            --karma-header-wrapper-padding-left: 30px;
            --karma-header-wrapper-padding-right: 30px;
        }
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            --karma-header-fixed-container-top: 20px;
            --karma-header-wrapper-padding-left: 20px;
            --karma-header-wrapper-padding-right: 20px;
        }
    }
}


@layer header {
    .main-header {
        @media (min-width: 1400px) {
            --karma-navbar--logo-max-width: 160px;
            --karma-navbar-nav-display: flex;
            --karma-navbar-nav-gap: 60px;
        }
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            --karma-navbar--logo-max-width: 155px;
            --karma-navbar-nav-display: flex;
            --karma-navbar-nav-gap: 40px;
        }
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            --karma-navbar-nav-display: flex;
            --karma-navbar--logo-max-width: 140px;
        }

        @media (min-width: 992px) {
            .navbar-nav {
                --karma-navbar-padding: 0;
                --karma-navbar--logo-max-width: 120px;
                background-color: var(--karma-clr-body-background);
            }
        }
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            --karma-navbar--logo-max-width: 100px;
        }
        // @media (min-width: 576px) and (max-width: (768px - 1)) {}
    }
}
