:root {
    --karma-btn-padding-vertical: 15px ;
    --karma-btn-padding-horizontal: 30px;
    --karma-btn-letter-spacing: 0.2ch;
    --karma-btn-icon-padding: 15px;
}



@layer components.buttons {
    .btn-primary,
    .btn-secondary,
    .btn-tertiary {
        border-radius: 0;
        padding: var(--karma-btn-padding-vertical) var(--karma-btn-padding-horizontal);
        font-family: var(--karma-font-family-headings);
        letter-spacing: var(--karma-btn-letter-spacing);
        text-transform: uppercase;
    }

    .btn-primary {
        background-color: var(--karma-clr-primary);
        color: var(--karma-clr-primary-txt);
        border-color: var(--karma-clr-primary);
    }
    .btn-primary:hover {
        background-color: var(--karma-clr-primary-darken);
    }
}



@layer components.buttons {
    .btn-secondary {
        background-color: var(--karma-clr-primary-neutral-500);
    }
    .btn-secondary:hover {
        background-color: var(--karma-clr-primary-neutral-400);
    }
}



@layer components.buttons {
    .btn-tertiary {
        color: var(--karma-clr-txt-neutral-400);
        background-color: var(--karma-clr-body-background);
        border-color: var(--karma-clr-primary-neutral-500);
    }
    .btn-tertiary:hover {
        background-color: var(--karma-clr-body-background-darken);
    }
}



/* btn-icon btn-arrow-down */
@layer components.buttons {
    .btn-icon {
        position: relative;
        display: inline-block;
        padding-right: calc(var(--karma-btn-padding-horizontal) + var(--karma-btn-icon-padding));
    }
    .btn-icon::after {
        position: absolute;
        right: var(--karma-btn-icon-padding);
        content: '';
        width: 25px;
        height: 25px;
    }
    .btn-arrow-down::after {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2225%22%20height%3D%2225%22%20viewBox%3D%220%200%2025%2025%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M12.5%2020.8333L4.16669%2012.5L5.26044%2011.4062L11.7188%2017.8645V4.16663H13.2813V17.8645L19.7396%2011.4062L20.8334%2012.5L12.5%2020.8333Z%22%20fill%3D%22black%22%2F%3E%0A%3C%2Fsvg%3E");
        background-size: cover;
    }
}